.TablePaperContainer {
  color: primary;
  min-height: 400px;
  // max-height: 400px;
  overflow-y: scroll;
  padding: 1rem 1rem;

  .TableContainer {
    color: primary;
    min-height: 440px;
  }
}
